.bg-board {
  height: 100vh;
  background-image: url("../../assets/cock-mainbg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.bg-board .title {
  display: flex;
  justify-content: center;
  font-size: 84px;
  color: #FFFFFF;
  padding-top: 150px;
  font-family: "ali-light";
  text-shadow: 3px 4px rgba(0, 0, 0, 0.35);
  /* no */
}
.bg-board .btn-box {
  display: flex;
  justify-content: center;
  padding-bottom: 250px;
}
.bg-board .play-btn {
  display: flex;
  align-items: center;
  font-family: "ali-blod";
  background-color: #5a2421;
  outline: none;
  border: 5px solid #ffd35c;
  /* no */
  padding: 20px;
  /* no */
  border-radius: 3px;
  /* no */
  color: #FFFFFF;
  font-size: 85px;
}
.bg-board .play-btn img {
  width: 90px;
  height: 90px;
}
.bg-board .play-btn:active {
  transform: translate(3px, 3px);
  /* no */
  border-color: #5a2421;
}
